<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Prozedur hinzufügen</h1>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel-body">
					<div class="row">
						<form role="form">
							<div class="form-group">
								<div class="row">
									<label>Title:</label>
									<div><input id='input-to-add' class='form-control' placeholder='Enter text'  ng-model="document.title"/></div>
								</div> 
								<div class="row">
									<label>Autor:</label>
									<div><input id='input-to-add' class='form-control' placeholder='Enter text' ng-model="document.autor"/></div>
								</div> 
								<div class="row">
									<label>date:</label>
									<div><input id='input-to-add' class='form-control' placeholder='Enter date'  ng-model="document.date"/></div>
								</div> 
								<div class="row">
									<label>Übersicht:</label>
									<div class="col-md-11 col-md-offset-1">

										<label>Flowchart</label>
										<div><textarea class="form-control" rows="2" class='form-control' placeholder='Enter text' ng-model="document.uebersicht.flowchart"/></div>

										<label>Tabelle</label>
										<div><textarea class="form-control" rows="2" class='form-control' placeholder='Enter text' ng-model="document.uebersicht.tabelle"/></div>

										<label>Notfall</label>
										<div><textarea class="form-control" rows="2" class='form-control' placeholder='Enter text' ng-model="document.uebersicht.notfall"/></div>

									</div>
								</div>
								<div class="row">

									<label>Vorbereitung:</label>
									<div class="col-md-11 col-md-offset-1">

										<label>Indikation</label>
										<div><textarea class="form-control" rows="2" class='form-control' placeholder='Enter text' ng-model="document.vorbereitung.indikation" /></div>

										<label>Kontraindikation</label>
										<div><textarea class="form-control" rows="2" class='form-control' placeholder='Enter text' ng-model="document.vorbereitung.kontraindikation" /></div>

										<label>Notfall</label>
										<div><textarea class="form-control" rows="2" class='form-control' placeholder='Enter text' ng-model="document.vorbereitung.notfall" /></div>

									</div>
								</div>
								<div class="row">
									<label>Therapie:</label>
									<div class="col-md-11 col-md-offset-1">

										<label>Initialtherapie</label>
										<div><textarea class="form-control" rows="2" class='form-control' placeholder='Enter text' ng-model="document.therapie.initialtherapie"/></div>

										<label>Monitoring</label>
										<div><textarea class="form-control" rows="2" class='form-control' placeholder='Enter text' ng-model="document.therapie.monitoring"/></div>

										<label>Weiteres Therapieregime</label>
										<div><textarea class="form-control" rows="2" class='form-control' placeholder='Enter text' ng-model="document.therapie.weiteresTherapieregime" /></div>

										<label>Notfall</label>
										<div><textarea class="form-control" rows="2" class='form-control' placeholder='Enter text' ng-model="document.therapie.notfall"/></div>


									</div>

								</div>
								<div class="row">
									<label>Auswertung (Beratung):</label>
									<div class="col-md-11 col-md-offset-1">

										<label>Auswertung</label>
								<p ng-bind="prozedur.auswertung.auswertung"></p>
										<div><textarea class="form-control" rows="2" class='form-control' placeholder='Enter text' ng-model="document.auswertung.auswertung"/></div>

										<label>Interpretation</label>
										<div><textarea class="form-control" rows="2" class='form-control' placeholder='Enter text' ng-model="document.auswertung.interpretation"/></div>

										<label>Weiteres Prozedere</label>
										<div><textarea class="form-control" rows="2" class='form-control' placeholder='Enter text' ng-model="document.auswertung.weiteresProzedere"/></div>

										<label>Notfall</label>
										<div><textarea class="form-control" rows="2" class='form-control' placeholder='Enter text' ng-model="document.auswertung.notfall"/></div>

									</div>
								</div>
								<div class="row">
									<label>Notes:</label>
									<div class="col-md-11 col-md-offset-1">

										<label>ICD-Nummern</label>
										<div><textarea class="form-control" rows="2" class='form-control' placeholder='Enter text' ng-model="document.notes.icdnummern"/></div>

										<label>Definitionen/Hintergrund</label>
										<div><textarea class="form-control" rows="2" class='form-control' placeholder='Enter text' ng-model="document.notes.definitionen"/></div>

										<label>Standardarztbrief</label>
										<div><textarea class="form-control" rows="2" class='form-control' placeholder='Enter text' ng-model="document.notes.standardarztbrief"/></div>

									</div>

								</div>
								<div class="row">
								<div class="col-md-4 col-md-offset-9">
									 
									<button  type="submit" id='btn-margin' ng-click="save()" class="btn btn-primary">hinzufügen</button>
									<button type="reset" id='btn-margin' class="btn btn-default">Reset</button>
								</div>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

