<div class="container-fluid">
    <div class="row">
        <div class="col-lg-11">
            <h1 class="page-header"ng-bind-html="prozedur.title"></h1>
        </div>
        <div class="col-m-1">                                    
            <a ui-sref="dashboard.prozedurBearbeiten({ title: prozedur.title })"> 
                <button type="button" class="page-header btn btn-info btn-circle btn-lg"><i class="fa fa-pencil "></i> 
                </button>    
            </a>
        </div>
    </div>

    <div class="tab-content">

        <h3 ng-if="prozedur.uebersichtNot" id="notfall-col">Übersicht Notfall</h3>
        <p ng-bind-html="prozedur.uebersichtNot"></p>

        <h3 ng-if="prozedur.diagnostikNot" id="notfall-col">Vorbereitung Notfall</h3>
        <p ng-bind-html="prozedur.diagnostikNot"></p>

        <h3 ng-if="prozedur.therapieNot" id="notfall-col">Durchführung Notfall</h3>
        <p ng-bind-html="prozedur.therapieNot"></p>
        <h3 ng-if="prozedur.beratungNot" id="notfall-col">Nachbearbeitung Notfall</h3>
        <p ng-bind-html="prozedur.beratungNot"></p>
        <h3>Bilder </h3>
            <div ng-repeat="image in prozedur.listImgUebersichtNot">  
                <h4 ng-bind="image.title"></h4>
                <p><img id="imageKr" data-ng-src="data:image/PNG;base64,{{image.image}}"></p>
            </div>
            <div ng-repeat="image in prozedur.listImgDiagnostikNot">  
                <h4 ng-bind="image.title"></h4>
                <p><img id="imageKr" data-ng-src="data:image/PNG;base64,{{image.image}}"></p>
            </div>
            <div ng-repeat="image in prozedur.listImgTherapieNot">  
                <h4 ng-bind="image.title"></h4>
                <p><img id="imageKr" data-ng-src="data:image/PNG;base64,{{image.image}}"></p>
            </div>
            <div ng-repeat="image in prozedur.listImgBeratungNot">  
                <h4 ng-bind="image.title"></h4>
                <p><img id="imageKr" data-ng-src="data:image/PNG;base64,{{image.image}}"></p>
            </div>
    </div>
</div>

