<div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">ICD-Nummer Update</h1>
        </div>
        <div class="col-md-6">
            <label>Version</label>
            <input id='input-to-add' class='form-control' placeholder='Enter text'  ng-model="version"/>

            <br>
            <button class="btn btn-primary" ngf-select  ng-model="file" ngf-multiple="false">Datei auswählen</button>
            {{file.name}}
            <div class="col-md-offset-11">
                <button class="btn btn-primary"   ng-click="update()" >upload</button>
            </div>
        </div>

    </div>
</div>