<div class="row">
    <div class="col-md-11">
        <h1 class="page-header">Image</h1>
    </div>
    <div class="col-m-1">                                    

        <a ui-sref="dashboard.imageHinzufuegen">             
            <button type="button" class="page-header btn btn-success btn-circle btn-lg"><i class="fa fa-plus"></i> 
            </button> 
        </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="dataTable_wrapper">
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Image" ng-model="searchImage">
                    </div>      
                </div>
            </form>
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Image</th>
                        <th> </th>
                        <th> </th>

                    </tr>
                </thead>
                <tbody>
                    <!--<tr ng-repeat="image in (images| filter:searchImage).slice(((currentPageK-1)*itemsPerPageK), ((currentPageK)*itemsPerPageK))">-->                        
                    <tr dir-paginate="image in images| filter:searchImage|itemsPerPage:10"current-page="currentPageK" pagination-id="1">
                        <td ng-bind="image.title"></td>
                        <td><img id="image" data-ng-src="data:image/PNG;base64,{{image.image}}"></td>
                        <td>
                            <a ui-sref="dashboard.imageDetail({ title: image.title })"> 
                                <button type="button" ng-click="" class="btn btn-primary btn-circle">
                                    <i class="fa fa-list"></i>
                                </button>
                            </a>
                        </td>
                        <td>
                            <button type="button" ng-click="removeItem(image)" class="btn btn-danger btn-circle">
                                <i class="fa fa-times"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--        <uib-pagination total-items="totalItemsK" ng-model="currentPageK" max-size="maxSizeK" class="pagination-sm" boundary-link-numbers="true"style="
                    margin-left: 40%;"></uib-pagination>-->
            <dir-pagination-controls
                max-size="5"
                direction-links="true"
                boundary-links="true"
                pagination-id="1"
                style="margin-left: 30%;">
            </dir-pagination-controls>
        </div>
    </div>
</div>
