


 <div class="row">
	<div class="col-md-10">
		<h1 class="page-header"> Krankheit Suche</h1>
	</div>
	<div class="row">
<!--		<div class="col-lg-6">
			<h1>Standard</h1>
			<form role="form">
				<div class="form-group">
					<label>Name</label>
					<input class="form-control" placeholder=" Name">
				</div>
				<div class="form-group">
					<label>Autor</label>
					<input class="form-control" placeholder=" Autor">
				</div>
				<md-content>
    <h4>Standard date-picker</h4>
    <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
    </md-content>

			</form>
		</div>
-->
		<div class="col-lg-6">
	

			<form role="form">
				<div class="form-group">
					<label>Name</label>
					<input class="form-control" placeholder="Krankheit Name">
				</div>
				<div class="form-group">
					<label>Symptome</label>
					<select class="form-control">
						<option>Symptome 1</option>
						<option>Symptome 2</option>
						<option>Symptome 3</option>
						<option>Symptome 4</option>
						<option>Symptome 5</option>
					</select>
				</div>
				<div class="form-group">
					<label>Medikament</label>
					<select class="form-control">
						<option>Medikament 1</option>
						<option>Medikament 2</option>
						<option>Medikament 3</option>
						<option>Medikament 4</option>
						<option>Medikament 5</option>
					</select>
				</div>
				<button type="submit" class="btn btn-primary">Suchen</button>
				<button type="reset" class="btn btn-default">Reset</button>
			</form>
		</div>
	</div>
</div> 