<div class="container-fluid">
    <div class="row">
        <div class="col-lg-11">
            <h1 class="page-header"ng-bind-html="krankheit.title"></h1>
        </div>
        <div class="col-m-1">                                    
            <a ui-sref="dashboard.krankheitBearbeitentext({ title: krankheit.title })"> 
                <button type="button" class="page-header btn btn-info btn-circle btn-lg"><i class="fa fa-pencil "></i> 
                </button>    
            </a>
        </div>
    </div>
    <div class="col-lg-12">
        <!--        <a ng-repeat="headline in headlines" ng-click="scrollTo(headline)">{{headline.label}}</a>
                <div table-of-contents ng-model="html" >{{html}}</div>-->
        <div ng-if="krankheit.prozedur.title">
            <div class="well well-sm">      
                <div class="row">
                    <div class="col-lg-2">
                        <h4>Prozedur</h4>
                    </div> 
                    <a ui-sref="dashboard.prozedurDetail({ title: krankheit.prozedur.title })">
                        <h4 ng-bind-html="krankheit.prozedur.title"></h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="/dashboard/krankheit/detail/#uebersicht" data-toggle="tab">Übersicht</a>
                    </li>
                    <li><a  href="/dashboard/krankheit/detail/#diagnostik" data-toggle="tab">Diagnostik</a>
                    </li>
                    <li><a href="/dashboard/krankheit/detail/#therapie" data-toggle="tab">Therapie</a>
                    </li>
                    <li><a href="/dashboard/krankheit/detail/#beratung" data-toggle="tab">Beratung</a>
                    </li>
                    <li><a href="/dashboard/krankheit/detail/#notes" data-toggle="tab">Notes</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="uebersicht">

                                                <a ng-repeat="headline in headlines" ng-click="scrollTo(headline)">{{headline.label}}</a>
                                                <!--<div table-of-contents ng-model="html" ><h1>alo</h1> <h2>hello</h2></div>-->
<!--                                                <p ng-bind-html="krankheit.uebersichtTxt"></p>-->
                        <!--                                                                        <h3 ng-if="krankheit.uebersichtNot" id="notfall-col">Notfall</h3>
                                                                                                <div ng-model="krankheit.uebersichtNot">{{krankheit.uebersichtNot}}</div>-->
                        <!--                        <div id="toc">
                                                    <h3>Table of Contents</h3>
                                                </div>
                                                <hr/>
                                                <div id="contents" ng-model="krankheit.uebersichtTxt">
                                                    {{krankheit.uebersichtTxt}}
                                                </div>-->
                        <p ng-bind-html="krankheit.uebersichtTxt"></p>
                        <h3 ng-if="krankheit.uebersichtNot" id="notfall-col">Notfall</h3>
                        <p ng-bind-html="krankheit.uebersichtNot"></p>
                        <h3 ng-if="krankheit.listImgUebersicht.length" >Bilder</h3>
                        <div ng-repeat="image in krankheit.listImgUebersicht">  
                            <h4 ng-bind="image.title"></h4>
                            <p><img id="imageKr" data-ng-src="data:image/PNG;base64,{{image.image}}"></p>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="diagnostik">
                        <p ng-bind-html="krankheit.diagnostikTxt"></p>

                        <h3 ng-if="krankheit.diagnostikNot" id="notfall-col">Notfall</h3>
                        <p ng-bind-html="krankheit.diagnostikNot"></p>
                        <h3 ng-if="krankheit.listImgDiagnostik.length" >Bilder</h3>
                        <div ng-repeat="image in krankheit.listImgDiagnostik">  
                            <h4 ng-bind="image.title"></h4>
                            <p><img id="imageKr" data-ng-src="data:image/PNG;base64,{{image.image}}"></p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="therapie">
                        <p ng-bind-html="krankheit.therapieTxt"></p>

                        <h3 ng-if="krankheit.therapieNot" id="notfall-col">Notfall</h3>
                        <p ng-bind-html="krankheit.therapieNot"></p>
                        <h3 ng-if="krankheit.listImgTherapie.length" >Bilder</h3>
                        <div ng-repeat="image in krankheit.listImgTherapie">  
                            <h4 ng-bind="image.title"></h4>

                            <p><img id="imageKr" data-ng-src="data:image/PNG;base64,{{image.image}}"></p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="beratung">
                        <p ng-bind-html="krankheit.beratungTxt"></p>
                        <h3 ng-if="krankheit.beratungNot" id="notfall-col">Notfall</h3>
                        <p ng-bind-html="krankheit.beratungNot"></p>
                        <h3 ng-if="krankheit.listImgBeratung.length" >Bilder</h3>
                        <div ng-repeat="image in krankheit.listImgBeratung">  
                            <h4 ng-bind="image.title"></h4>

                            <p><img id="imageKr" data-ng-src="data:image/PNG;base64,{{image.image}}"></p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="notes">
                        <p ng-bind-html="krankheit.notes"></p>
                        <h3 ng-if="krankheit.listImgNotes.length" >Bilder</h3>
                        <div ng-repeat="image in krankheit.listImgNotes">  
                            <h4 ng-bind="image.title"></h4>

                            <p><img id="imageKr" data-ng-src="data:image/PNG;base64,{{image.image}}"></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
