
<div class="panel panel-default">
    <div class="panel-heading"> Datei hinzufügen </div> 
    <div class="panel-body"> 
        <p>Möchten sie diese Dateien wirklich zur letzte version hinzufügen?</p> 


        <div class="col-md-4 col-md-offset-7">
            <button  type="submit" id="btn-margin-top" ng-click="save()" class="btn btn-primary">hinzufügen</button>
            <button  ng-click="cancel()" id="btn-margin-top" class="btn btn-default">cancel</button>
        </div> 
    </div>
</div>