<div class="container-fluid">
    <h1 class="page-header"ng-bind-html="medikament.bezeichnung"></h1>

    <div class="well well-sm">      
        <div class="row">
            <div class="col-lg-2">
                <h4>Einheit</h4>
            </div> 
            <h4 ng-bind-html="medikament.einheit"></h4>
        </div>
    </div>
    <div class="well well-sm">      
        <div class="row">
            <div class="col-lg-2">
                <h4>Pharma-Zentral-Nummer (PZN)</h4>
            </div> 
            <h4 ng-bind-html="medikament.pzn"></h4>
        </div>
    </div>
    <div class="well well-sm">      
        <div class="row">
            <div class="col-lg-2">
                <h4>Dareichungsform</h4>
            </div> 
            <h4 ng-bind-html="medikament.darr"></h4>
        </div>
    </div>
    <div class="well well-sm">      
        <div class="row">
            <div class="col-lg-2">
                <h4>Rote Liste</h4>
            </div> 
            <h4 ng-bind-html="medikament.roteListe"></h4>
        </div>
    </div>
    <div class="well well-sm">      
        <div class="row">
            <div class="col-lg-2">
                <h4>Inhaltsstoff</h4>
            </div> 
            <h4 ng-bind-html="medikament.inhaltsstoff"></h4>
        </div>
    </div>
</div>