<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Achtung! "{{name}}" wird in folgenden Standards benutzt</h3>
    </div>
    <div class="panel-body">

        <ul class="nav nav-tabs">
            <li class="active"><a href="/dashboard/krankheit/bearbeitentext/#krankheit" data-toggle="tab">Krankheit</a>
            </li>
            <li><a  href="/dashboard/krankheit/bearbeitentext/#prozedur" data-toggle="tab">Prozedur</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="krankheit">
                <div ng-if="krankheits" >
                    <div class="col-lg-12">

                        <ul class="list-unstyled">
                            <li dir-paginate="krankheit in krankheits|itemsPerPage:1"current-page="currentPageK" pagination-id="1">
                                <div class="header"> <strong class="primary-font"><h2 id="notfall-col" ng-bind="krankheit.title"></h2></strong>  </div>
                                <h4 >Therapie</h4>
                            <text-angular  ng-model="krankheit.therapieTxt" ></text-angular>
                            <h3  id="notfall-col">Therapie Notfall</h3>
                            <text-angular  ng-model="krankheit.therapieNot"></text-angular> 
                            <button  type="submit" id="btn-margin-top" ng-click="krankheitBearbeiten(krankheit)" class="btn btn-primary">Krankheit bearbeiten</button>
                            <button  type="cancel" id="btn-margin-top" ng-click="krankheitIgnorieren(krankheit)" class="btn btn-default">ignorieren</button>

                            </li>
                        </ul>
                        <dir-pagination-controls
                            max-size="5"
                            direction-links="true"
                            boundary-links="true"
                            pagination-id="1"
                            style="margin-left: 30%;">
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="prozedur">
                <div ng-if="prozedurs" >
                    <div class="col-lg-12">

                        <ul class="list-unstyled">
                            <li dir-paginate="prozedur in prozedurs|itemsPerPage:1"current-page="currentPageK" pagination-id="K">
                                <div class="header"> <strong class="primary-font"><h2 id="notfall-col" ng-bind="prozedur.title"></h2></strong>  </div>
                                <h4 ng-if="prozedur.therapieTxt">Therapie</h4>
                            <text-angular ng-if="prozedur.therapieTxt" ng-model="prozedur.therapieTxt" ></text-angular>
                            <h3 ng-if="prozedur.therapieNot" id="notfall-col">Therapie Notfall</h3>
                            <text-angular ng-if="prozedur.therapieNot" ng-model="prozedur.therapieNot"></text-angular> 
                            <button  type="submit" id="btn-margin-top" ng-click="prozedurBearbeiten(prozedur)" class="btn btn-primary">Prozedur bearbeiten</button>
                            <button  type="cancel" id="btn-margin-top" ng-click="prozedurIgnorieren(prozedur)" class="btn btn-default">ignorieren</button>

                            </li>
                        </ul>
                        <dir-pagination-controls
                            max-size="5"
                            direction-links="true"
                            boundary-links="true"
                            pagination-id="K"
                            style="margin-left: 30%;">
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

