<div class="row">
    <div class="col-md-11">
        <h1 class="page-header">Benutzerverwaltung</h1>
    </div>
</div>

<p class="col-m-1" style="margin-top: 20px;">
    <button type="submit" ng-click="register()" class="btn btn-default">Neuen Benutzer hinzufügen</button>
</p>

<p class="col-m-1" style="margin-top: 20px;">
    <button type="submit" ng-click="logOn()" class="btn btn-default">Anmelden</button>
</p>

<p class="col-m-1" style="margin-top: 20px;">
    <button type="submit" ng-click="showUserData()" class="btn btn-default">Meine Benutzerdaten anzeigen</button>
</p>
